Options -Indexes
RewriteEngine On

#Redirect 404
ErrorDocument 404 /404.php

<IfModule mod_headers.c>
  <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|font.css|css|js)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>

# Danh sách toàn bộ khách sạn
RewriteRule ^khach-san\.html$ /page/hotel/list/list.php [QSA,L]

RewriteRule ^city-([0-9]+)-([^/]+)\.html$ /page/hotel/list/list.php?city=$1 [QSA,L]

RewriteRule ^thanks\.html$ /page/hotel/thanks/thanks.php [QSA,L]

RewriteRule ^checkout\.html$ /page/hotel/checkout/checkout.php [QSA,L]

RewriteRule ^hotel-([0-9]+)-([^/]+)\.html$ /page/hotel/detail/detail.php?id=$1 [QSA,L]

RewriteRule ^introduce\.html$ /page/introduce/introduce.php [QSA,L]

RewriteRule ^contact\.html$ /page/contact/contact.php [QSA,L]

RewriteRule ^document/(.+)-([0-9]+)\.html$ /page/document/document.php [L,QSA]