Options -Indexes
RewriteEngine On

#RewriteCond %{REQUEST_URI} !^/maintenance.html$ [NC]
#RewriteRule ^(.*)$ /maintenance.html [R=302,L]

#Redirect 404
ErrorDocument 404 /404.php

<IfModule mod_headers.c>
  <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|font.css|css|js)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>

#Room Bỏ không viết lại url
#RewriteRule ^room/([0-9]*)-([^/]*).html /page/hotel/room/index.php?id=$1 [QSA,L]

#Listing
RewriteRule ^([a-z]*)/([a-z]*)-([0-9]*)-([^/]*).html /page/$1/list/list.php?group=$2&id=$3 [QSA,L]

#Detail
RewriteRule ^([a-z]*)/([0-9]*)-([^/]*).html /page/$1/detail/detail.php?id=$2 [QSA,L]

#Checkout
RewriteRule ^checkout/([a-z]*)/$ /page/$1/checkout/checkout.php [QSA,L]
RewriteRule ^thanks/([a-z]*)/$ /page/$1/thanks/thanks.php [QSA,L]

#Account
#RewriteRule ^profile/$ /profile/profile.php [QSA,L]

#Ticket, Combo
RewriteRule ^([a-z]*)/$ /page/$1/list/list.php [QSA,L]
